@page
@model RealEstatePMP.Pages.Agents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.YearsOfExperience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.YearsOfExperience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Agent.SalesOffice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Agent.SalesOffice.SalesOfficeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Agent.AgentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
